
/*didn't used classes because for some reason they weren't working*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    --Blue: hsl(248, 32%, 49%);
    --Red: hsl(0, 100%, 74%); 
    --Green: hsl(154, 59%, 51%);
}

body {
    background-image: url(images/bg-intro-mobile.png);
    background-color: var(--Red);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}

.left {
    color: white;
}

.left h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0.7em;
}

.left p {
    font-size: 1.6rem;
    text-align: center;
}

div {
    color: white;
    background-color: hsl(248, 32%, 49%);
    padding: 1.4em 3em;
    border-radius: 8px;
    text-align: center;
    font-size: 1.6rem;
    box-shadow: 0px 6px 0px 0px rgb(0, 0, 0, 0.15);
    margin-bottom: 2rem;
}

form {
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 8px;
    box-shadow: 0px 7px 0px 0px rgb(0, 0, 0, 0.15);
}

input[type="text"] {
    padding: 1.7rem;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    font-weight: 700;
}

Input[type="submit"] {
    color: white;
    font-weight: 700;
    border: none;
    background-color: var(--Green);
    padding: 1.5em 3em;
    border-radius: 8px;
    box-shadow: 0px 5px 0px 0px rgb(0, 0, 0, 0.2);
}

form p {
    text-align: center;
    color: var(--Grayish-Blue);
    margin-top: 5px;
}

form p span {
    color: var(--Red);
    font-weight: 800;
}


@media screen and (min-width: 650px) {
    body {
        background-image: url(images/bg-intro-desktop.png);
    }
    main {
        flex-direction: row;
        max-width: 80%;
    }
    .left {
        width: 50%;
    }
    .left h1 {
        text-align: left;
    }
    
    .left p {
        text-align: left;
    }
    form {
        gap: 2rem;
    }
}

@media screen and (min-width: 569px) {

}

@media screen and (min-width: 410px) {

}